body {
	padding-top: 31px;
	font-family: 'Oxygen';
	background-color: #ffca00;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    margin-bottom: 0px;
}

.hero {
    background-image: url(https://cdn.wallpapersafari.com/16/70/HS8c25.jpg);
    background-size: cover;
    height: 500px;
    background-position: 50% 65%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.inverted {
    color: white;
}

.hero-content {
    
}

.lead {
    background: rgba(0,0,0,0.2);
    padding: 30px;
    font-size: 30px;
}

footer {
    text-align: center;
}

.wrapper-home {
    background: #ffca00;
    padding: 100px;
    color: #d14c28;
}

h2{
    font-weight: 700;
}

footer {
	padding: 50px;
	background: #d14c28;
	color: white;
}

.footerClass {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.btn-default {
    background: #d14c28;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

.btn-default:hover {
    background: #bd3915;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

p {
    font-size: 16px;
}